@using Microsoft.AspNetCore.Identity
@using UserControl.Data
@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "All Users";

}
@if (!User.Identity.IsAuthenticated)
{
    <h2>reg</h2>
}

else
{

<h1>All Users</h1>
@using (Html.BeginForm())
{

<p>Use this page to detail your site's privacy policy.</p>

<br /> <br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Users</h1>
        </div>
        <div class="col text-end pt-4">         
            <input type="submit" name="disableselected" value="Disable user" class="btn btn-info" formmethod="post" formaction="DisableSelected" onclick="return confirm('Are you sure?')" />
            <input type="submit" name="enableselected" value="Enable user" class="btn btn-success" formmethod="post" formaction="EnableSelected" onclick="return confirm('Are you sure?')" /> 
            <input type="submit" name="deleteselected" value="Delete user" class="btn btn-danger" formmethod="post" formaction="DeleteSelected" onclick="return confirm('Are you sure?')" />
        </div>        
    </div>
    <table class="table">
        <thead>
            <tr>
                <th><input type="checkbox" id="checkboxAll" /></th>
                <th>
                    Id
                </th>
                <th>
                    First name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>
                <th>
                    Disabled
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>                     
                    <td><input type="checkbox" class="chkCheckBoxId" value="@user.Id"
                        name="ids"/></td>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td> 
                    <td>@user.LockoutEnabled</td>
                </tr>
            }
        </tbody>

    </table>
</div>
}
}
@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

     <script type="text/javascript">
    $(document).ready(function() {
        $('#checkboxAll').click(function() {
            if ($(this).is(":checked"))
                $('.chkCheckBoxId').prop('checked', true);
            else
                $('.chkCheckBoxId').prop('checked', false);
        });
    });
    </script>
}